* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

#box {
  width: 800px;
  height: 800px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
}

.secondBox,
.branchBox,
.hourBox,
.NumberBox,
.monthBox {
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  margin: auto;
}

.second,
.branch,
.hour,
.Number,
.month {
  color: #fff;
  height: 20px;
  font-size: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* 秒 */
.secondBox {
  width: 800px;
  height: 800px;
  animation-name: secondBox;
  animation-duration: 1.4s;
  animation-timing-function: linear;
}

@keyframes secondBox {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(300deg);
  }
}

.second {
  width: 800px;
}

/* 分钟 */
.branchBox {
  width: 650px;
  height: 650px;
  animation-name: branchBox;
  animation-duration: 1.4s;
  animation-timing-function: linear;
}

@keyframes branchBox {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-310deg);
  }
}

.branch {
  width: 650px;
}

/* 小时 */
.hourBox {
  width: 500px;
  height: 500px;
  animation-name: hourBox;
  animation-duration: 1.4s;
  animation-timing-function: linear;
}

@keyframes hourBox {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(310deg);
  }
}

.hour {
  width: 500px;
}

/* 日 盒子 */
.NumberBox {
  width: 350px;
  height: 350px;
  animation-name: NumberBox;
  animation-duration: 1.4s;
  animation-timing-function: linear;
}

@keyframes NumberBox {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-120deg);
  }
}

.Number {
  width: 350px;
}

/* 月份盒子 */
.monthBox {
  width: 200px;
  height: 200px;
  animation-name: monthBox;
  animation-duration: 1.4s;
  animation-timing-function: linear;
}

@keyframes monthBox {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.month {
  width: 200px;
}

/* 年份 */
.year {
  width: 35px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  color: #fff;
}

span {
  display: inline-block;
  width: 60px;
  height: 20px;
  text-align: center;
}

/* 旋转 */
.tra {
  transform: rotate(180deg);
}

/* 白色透明标注盒子 */
.show {
  width: 800px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
}

.show .right {
  float: right;
  width: 420px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}