 *{
            margin: 0;
            padding: 0;
        }
        .a{
            width: 6.4rem;
            height: 0.4rem;
        }
        .a .aa{
            width: 6.4rem;
            height: 0.4rem;
            float: left;
            margin-top: 0px;
            margin-left: 0px;
        }
        .b{
            width: 6.4rem;
            height: 0.88rem;
            background-color: #50bbdb;
        }
        .b .ba{
            width: 1rem;
            height: 0.88rem;
            float: left;
            margin-top: 0rem;
            margin-left: 0rem;
        }
        .b .bb{
            font-size: 14px;
            float: left;
            margin-top: 0.31rem;
            margin-left: 1.76rem;
            color: #ffffff;
        }
        .b .bc{
            width: 1rem;
            height: 0.88rem;
            float: left;
            margin-top: 0rem;
            margin-left: 1.68rem;
        }
        .c{
            width: 6.4rem;
            height: 1rem;
        }
        .c .ca{
            float: left;
            font-size: 14px;
            margin-top: 0.17rem;
            margin-left: 0.08rem;
        }
        .c .cb{
            float: left;
            font-size: 14px;
            margin-left: 0.18rem;
            margin-top: 0.06rem;
        }
        .d{
            width: 6.4rem;
            height: 15.51rem;
            background-color: #ededed;
        }
        .d .da{
            width: 6.04rem;
            height: 3.37rem;
            border-radius: 2.5%;
            float: left;
            margin-left: 0.15rem;
            margin-top: 0.17rem;
            background-color: #ffffff;
        }
        .d .da .daa{
            width: 0.04rem;
            height: 0.27rem;
            background-color: #50bbdb;
            float: left;
            margin-top: 0.14rem;
            margin-left: 0.13rem;
        }
        .d .da .dab{
            font-size: 12px;
            float: left;
            margin-top: 0.13rem;
            margin-left: 0.18rem;
        }
        .d .da .dac{
            width: 6.04rem;
            border: 1px solid #dcdcdc;
            float: left;
            margin-top: 0.12rem;
            margin-left: 0rem;
        }
        .d .da .dad{
            font-size: 12px;
            float: left;
            margin-top: 0.21rem;
            margin-left: 0.38rem;
        }
        .d .da .dae{
            font-size: 12px;
            float: left;
            margin-top: 0.6rem;
            margin-left: -2.82rem;
        }
        .d .da .daf{
            font-size: 12px;
            float: left;
            margin-top: 1rem;
            margin-left: -2.82rem;
        }
        .d .da .dag{
            font-size: 12px;
            float: left;
            margin-top: 1.36rem;
            margin-left: -2.82rem;
        }
        .d .da .dah{
            float: left;
            width: 1.28rem;
            height: 0.29rem;
            margin-top: 1.36rem;
            margin-left: -2.37rem;
        }
        .d .da .dai{
            font-size: 12px;
            float: left;
            margin-top: 1.36rem;
            margin-left: -1.15rem;
        }
        .d .da .daj{
            font-size: 12px;
            float: left;
            margin-top: 1.71rem;
            margin-left: -2.82rem;
        }
        .d .da .dak{
            float: left;
            margin-left: -0.3rem;
            margin-top: 0.13rem;
            width: 3.49rem;
            height: 0.65rem;
        }
        .d .da .dam{
            font-size: 12px;
            width: 0.77rem;
            height: 0.35rem;
            float: left;
            margin-top: -1.9rem;
            margin-left: 4.7rem;
            border-radius: 12%;
            background-color: #ffffff;
            color: #5fbfdd;
        }
        .d .db{
            width: 6.04rem;
            height: 3.37rem;
            background-color: #ffffff;
            border-radius: 2.5%;
            float: left;
            margin-left: 0.15rem;
            margin-top: 0.17rem;
        }
        .d .db .dba{
            width: 0.04rem;
            height: 0.27rem;
            background-color: #50bbdb;
            float: left;
            margin-top: 0.14rem;
            margin-left: 0.13rem;
        }
        .d .db .dbb{
            float: left;
            width: 1rem;
            height: 0.09rem;
            margin-top: 0.42rem;
            margin-left: 0.1rem;
        }
        .d .db .dbc{
            font-size: 12px;
            float: left;
            margin-top: 0.13rem;
            margin-left: -0.9rem;
        }
        .d .db .dbd{
            width: 6.04rem;
            border: 1px solid #dcdcdc;
            float: left;
            margin-top: 0rem;
            margin-left: 0rem;
        }
        .d .db .dbe{
            font-size: 12px;
            float: left;
            margin-top: 0.21rem;
            margin-left: 0.38rem;
        }
        .d .db .dbf{
            list-style: none;
            margin-top: 1.1rem;
            margin-left: 0.38rem
        }
        .d .db .dbf li{
            font-size: 12px;
            margin-top: 0.15rem;
        }
        .d .dc{
            width: 6.04rem;
            height: 2.57rem;
            background-color: #ffffff;
            border-radius: 2.5%;
            float: left;
            margin-left: 0.15rem;
            margin-top: 0.17rem;
        }
        .d .dc .dca{
            width: 0.04rem;
            height: 0.27rem;
            background-color: #50bbdb;
            float: left;
            margin-top: 0.14rem;
            margin-left: 0.13rem;
        }
        .d .dc .dcb{
            font-size: 12px;
            float: left;
            margin-top: 0.13rem;
            margin-left: 0.18rem;
        }
        .d .dc .dcd{
            width: 6.04rem;
            border: 1px solid #dcdcdc;
            float: left;
            margin-top: 0.12rem;
            margin-left: 0rem;
        }
        .d .dc .dce{
            font-size: 12px;
            color: #50bbdb;
            float: left;
            margin-top: 0.22rem;
            margin-left: 1.8em;
        }
        .d .dc .dcf{
            font-size: 12px;
            float: left;
            margin-top: 0.21rem;
            margin-left: 0.04rem;
        }
        .d .dc .dcg{
            font-size: 12px;
            float: left;
            margin-top: 0.21rem;
            margin-left: 0.35rem;
            color: #cccccc;
        }
        .d .dc .dch{
            width: 5.38rem;
            border: 1px solid #dcdcdc;
            float: left;
            margin-top: 0.08rem;
            margin-left: -0.15rem;
        }
        .d .dc .dci{
            font-size: 12px;
            color: #50bbdb;
            float: left;
            margin-top: 0.1rem;
            margin-left: 1.8em;
        }
        .d .dc .dcj{
            font-size: 12px;
            float: left;
            margin-top: 0.1rem;
            margin-left: 0.04rem;
        }
        .d .dc .dck{
            float: left;
            width: 1.52rem;
            height: 0.43rem;
            margin-top: 0rem;
            margin-left: 1.55rem;
        }
        .d .dc .dcl{
            width: 5.38rem;
            border: 1px solid #dcdcdc;
            float: left;
            margin-top: 0.06rem;
            margin-left: 0.26rem;
        }
        .d .dc .dcm{
            font-size: 12px;
            color: #50bbdb;
            float: left;
            margin-top: 0.1rem;
            margin-left: 1.8em;
        }
        .d .dc .dcn{
            font-size: 12px;
            float: left;
            margin-top: 0.1rem;
            margin-left: 0.04rem;
        }
        .d .dc .dco{
            width: 5.38rem;
            border: 1px solid #dcdcdc;
            float: left;
            margin-top: 0.06rem;
            margin-left: 0.26rem;
        }
        .d .dc .dcp{
            font-size: 12px;
            color: #50bbdb;
            float: left;
            margin-top: 0.1rem;
            margin-left: 1.8em;
        }
        .d .dc .dcq{
            font-size: 12px;
            float: left;
            margin-top: 0.1rem;
            margin-left: 0.04rem;
        }
        .d .dc .dcr{
            font-size: 12px;
            float: left;
            margin-top: 0.1rem;
            margin-left: 0.35rem;
            color: #cccccc;
        }
        .d .dc .dcs{
            width: 5.38rem;
            border: 1px solid #dcdcdc;
            float: left;
            margin-top: 0.06rem;
            margin-left: 0.26rem;
        }
        .d .dd{
            width: 6.04rem;
            height: 2.11rem;
            background-color: #ffffff;
            border-radius: 2.5%;
            float: left;
            margin-left: 0.15rem;
            margin-top: 0.17rem
        }
        .d .dd .dda{
            width: 0.04rem;
            height: 0.27rem;
            background-color: #50bbdb;
            float: left;
            margin-top: 0.14rem;
            margin-left: 0.13rem;
        }
        .d .dd .ddb{
            font-size: 12px;
            float: left;
            margin-top: 0.13rem;
            margin-left: 0.18rem;
        }
        .d .dd .ddc{
            font-size: 12px;
            float: left;
            margin-top: 0.13rem;
            margin-left: 3.62rem;
            color: #50bbdb;
        }
        .d .dd .ddd{
            width: 6.04rem;
            border: 1px solid #dcdcdc;
            float: left;
            margin-top: 0.12rem;
            margin-left: 0rem
        }
        .d .dd .dde{
            font-size: 12px;
            color: #50bbdb;
            float: left;
            margin-top: 0.22rem;
            margin-left: 1.8em;
        }
        .d .dd .ddf{
            font-size: 12px;
            float: left;
            margin-top: 0.21rem;
            margin-left: 0.04rem;
        }
        .d .dd .ddg{
            font-size: 12px;
            float: left;
            margin-top: 0.21rem;
            margin-left: 0.35rem;
            color: #cccccc;
        }
        .d .dd .ddh{
            width: 5.38rem;
            border: 1px solid #dcdcdc;
            float: left;
            margin-top: 0.08rem;
            margin-left: -0.15rem;
        }
        .d .dd .ddi{
            font-size: 12px;
            color: #50bbdb;
            float: left;
            margin-top: 0.1rem;
            margin-left: 1.8em;
        }
        .d .dd .ddj{
            font-size: 12px;
            float: left;
            margin-top: 0.1rem;
            margin-left: 0.04rem;
        }
        .d .dd .ddk{
            width: 5.38rem;
            border: 1px solid #dcdcdc;
            float: left;
            margin-top: 0.06rem;
            margin-left: 0.26rem;
        }
        .d .dd .ddl{
            width: 1.04rem;
            height: 0.41rem;
            float: left;
            margin-top: 0.06rem;
            margin-left: 0.19rem;
        }
        .d .dd .ddm{
            float: left;
            width: 0.41rem;
            height: 0.41rem;
            margin-top: 0rem;
            margin-left: 2.84rem;
        }
        .d .de{
            width: 6.04rem;
            height: 2.52rem;
            background-color: #ffffff;
            border-radius: 2.5%;
            float: left;
            margin-left: 0.15rem;
            margin-top: 0.17rem;
        }
        .d .de .dea{
            width: 0.04rem;
            height: 0.27rem;
            background-color: #50bbdb;
            float: left;
            margin-top: 0.14rem;
            margin-left: 0.13rem;
        }
        .d .de .deb{
            font-size: 12px;
            float: left;
            margin-top: 0.13rem;
            margin-left: 0.18rem;
        }
        .d .de .dec{
            width: 6.04rem;
            border: 1px solid #dcdcdc;
            float: left;
            margin-top: 0.12rem;
            margin-left: 0rem;
        }
        .d .de .ded{
            float: left;
            width: 0.39rem;
            height: 0.39rem;
            margin-top: 0.17rem;
            margin-left: 0.32rem;
        }
        .d .de .dee{
            float: left;
            font-size: 12px;
            margin-top: 0.13rem;
            margin-left: 0.09rem;
        }
        .d .de .def{
            float: left;
            font-size: 12px;
            margin-top: 0.17rem;
            margin-left: 1.34rem;
        }
        .d .de .deg{
            float: left;
            font-size: 12px;
            margin-top: 0.4rem;
            margin-left: -4.44rem;

        }
        .d .de .deh{
            float: left;
            font-size: 12px;
            color: #f98d0d;
            margin-top: 0.44rem;
            margin-left: -0.55rem;
        }
        .d .de .dei{
            float: left;
            font-size: 12px;
            margin-top: 0.44rem;
            margin-left: 0rem;
        }
        .d .de .dej{
            float: left;
            width: 5.38rem;
            border: 1px solid #cccccc;
            margin-top: 0.2rem;
            margin-left: 0.37rem;
        }
        .d .de .dek{
            float: left;
            width: 0.39rem;
            height: 0.39rem;
            margin-top: 0.17rem;
            margin-left: 0.32rem;
        }
        .d .de .del{
            float: left;
            font-size: 12px;
            margin-top: 0.13rem;
            margin-left: 0.09rem;
        }
        .d .de .dem{
            float: left;
            font-size: 12px;
            margin-top: 0.17rem;
            margin-left: 1.34rem;
        }
        .d .de .den{
            float: left;
            font-size: 12px;
            margin-top: 0.4rem;
            margin-left: -4.44rem;

        }
        .d .de .deo{
            float: left;
            font-size: 12px;
            color: #f98d0d;
            margin-top: 0.44rem;
            margin-left: -0.55rem;
        }
        .d .de .dep{
            float: left;
            font-size: 12px;
            margin-top: 0.44rem;
            margin-left: 0rem;
        }
        .e{
            width: 6.4rem;
            height: 0.99rem;
            background-color: #ffffff;
        }
        .e .ea{
            font-size: 14px;
            color: #f98d0d;
            float: left;
            margin-top: 0.36rem;
            margin-left: 0.17rem;
        }
        .e .eb{
            width: 2.36rem;
            height: 0.66rem;
            background-color: #50bbdb;
            float: left;
            margin-top: 0.16rem;
            margin-left: 1.92rem;
            border-radius: 12%;
        }
        .d .danxuan{
            width: 0.19rem;
            height: 0.19rem;
            float: left;
            margin-top: 0.23rem;
            margin-left: 1.59rem;
        }
        .d .zuihou{
            float: left;
            margin-top: 0.2rem;
            margin-left: 0.16rem;
            font-size: 12px;
        }