<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>表单完整版</title>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
  }

  table {
    width: 400px;
    border-spacing: 0;
  }

  td {
    border-bottom: 1px solid black;
  }

  .box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
  }

  .box .chu {
    width: 300px;
    height: 160px;
    border: 3px solid black;
    background-color: #ffffff;
    float: left;
    margin-left: 800px;
    margin-top: 200px;
  }
</style>

<body>
  <div id="app">
    用户名: <input type="text" placeholder="请输入用户名" v-model="newName">
    年龄: <input type="text" placeholder="请输入年龄" v-model="newAge">
    <button v-on:click="addUser">提交</button>
    <h2>当前用户:</h2>
    <table>
      <thead>
        <tr>
          <td>编号</td>
          <td>姓名</td>
          <td>年龄</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user,index in users">
          <td>{{index+1}}</td>
          <td>{{user.name}}</td>
          <td>{{user.age}}</td>
          <td><button class="shanshan">删除</button></td>
        </tr>
      </tbody>
    </table>
    <div class="box">
      <div class="chu">
        确定删除？
        <br>
        <button class="queding" v-on:click="shan(index)">确定</button>
        <button class="qvxiao">取消</button>
      </div>
    </div>
  </div>

  <script src="./vue.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        users: [{
          name: "张三",
          age: 12,
        },
        {
          name: "李四",
          age: 15,
        }
        ],
        newName: "",
        newAge: "",
      },
      methods: {
        addUser() {
          var newObj = {};
          newObj.name = this.newName;
          newObj.age = this.newAge;
          this.users.push(newObj);
          this.newName = "";
          this.newAge = "";
        },
        shan(i) {
          this.users.splice(i, 1)
        }
      }
    })
  </script>
  <script src="jquery.js"></script>
  <script>
    $(".shanshan").click(function () {
      $(".box").css("display", "block")
    })
    $(".queding").click(function () {
      $(".box").css("display", "none")
    })
    $(".qvxiao").click(function () {
      $(".box").css("display", "none")
    })
  </script>
</body>

</html>