* {
  margin: 0;
  padding: 0;
}

.a {
  width: 1349px;
  height: 27px;
  background-color: #fafafa;
  margin: 0 auto;
}

.a .aa {
  float: left;
  margin-top: 0px;
  margin-left: 183px;
}

.a .ab {
  font-size: 12px;
  color: #dddddd;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.a .ac {
  font-size: 12px;
  float: left;
  margin-top: 5px;
  margin-left: 6px;
  color: #666666;
}

.a .ad {
  float: left;
  margin-top: 2px;
  margin-left: 9px;
}

.a .ae {
  font-size: 12px;
  float: left;
  margin-top: 5px;
  margin-left: 6px;
  color: #666666;
}

.a .af {
  font-size: 12px;
  color: #666666;
  float: left;
  margin-top: 5px;
  margin-left: 246px;
}

.a .ag {
  font-size: 12px;
  color: #dddddd;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.a .ah {
  font-size: 12px;
  color: #666666;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.a .ai {
  font-size: 12px;
  color: #dddddd;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.a .aj {
  font-size: 12px;
  color: #666666;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.a .ak {
  float: left;
  margin-top: 12px;
  margin-left: 6px;
}

.a .al {
  font-size: 12px;
  color: #dddddd;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.a .am {
  font-size: 12px;
  color: #666666;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.a .an {
  float: left;
  margin-top: 12px;
  margin-left: 6px;
}

.a .ao {
  font-size: 12px;
  color: #dddddd;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.a .ap {
  font-size: 12px;
  color: #666666;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.a .aq {
  font-size: 12px;
  color: #dddddd;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.a .ar {
  font-size: 12px;
  color: #666666;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.a .as {
  font-size: 12px;
  color: #dddddd;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.a .at {
  font-size: 12px;
  color: #666666;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.a .au {
  font-size: 12px;
  color: #dddddd;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.b {
  width: 1349px;
  height: 1px;
  background-color: #eeeeee;
  margin: 0 auto;
}

.c {
  width: 1349px;
  height: 89px;
  margin: 0 auto;
}

.c .ca {
  float: left;
  margin-top: 22px;
  margin-left: 195px;
}

.c .cb {
  width: 131px;
  height: 36px;
  background-color: #ff9600;
  float: left;
  margin-top: 56px;
  margin-left: 73px;
}

.c .cc {
  height: 0px;
  width: 0px;
  border: 17px solid transparent;
  border-bottom-color: #ff9600;
  transform: rotate(90deg);
  float: left;
  margin-top: 56px;
  margin-left: 0px;
}

.c .cb .cba {
  font-size: 14px;
  color: #ffffff;
  float: left;
  margin-top: 7px;
  margin-left: 18px;
}

.c .ce {
  height: 0px;
  width: 0px;
  border: 17px solid transparent;
  border-bottom-color: #ffffff;
  transform: rotate(90deg);
  float: left;
  margin-top: 55px;
  margin-left: 0px;
}

.c .cf {
  width: 131px;
  height: 36px;
  background-color: #f7f7f7;
  float: left;
  margin-top: 53px;
  margin-left: -34px;
}

.c .cf .cfa {
  font-size: 14px;
  float: left;
  margin-top: 7px;
  margin-left: 18px;
}

.c .cg {
  height: 0px;
  width: 0px;
  border: 17px solid transparent;
  border-bottom-color: #f7f7f7;
  transform: rotate(90deg);
  float: left;
  margin-top: 56px;
  margin-left: 0px;
}

.c .ch {
  height: 0px;
  width: 0px;
  border: 17px solid transparent;
  border-bottom-color: #ffffff;
  transform: rotate(90deg);
  float: left;
  margin-top: 55px;
  margin-left: 0px;
}

.c .ci {
  width: 131px;
  height: 36px;
  background-color: #f7f7f7;
  float: left;
  margin-top: 53px;
  margin-left: -34px;
}

.c .cia {
  font-size: 14px;
  float: left;
  margin-top: 8px;
  margin-left: 48px;
}

.c .cj {
  height: 0px;
  width: 0px;
  border: 17px solid transparent;
  border-bottom-color: #f7f7f7;
  transform: rotate(90deg);
  float: left;
  margin-top: 56px;
  margin-left: 0px;
}

.c .ck {
  font-size: 12px;
  float: left;
  margin-top: 67px;
  margin-left: 26px;
  color: #ff6600;
}

.d {
  width: 1349px;
  height: 3px;
  background-color: #ff9400;
  margin: 0 auto;
}

.e {
  width: 1349px;
  height: 124px;
  margin: 0 auto;
}

.e .ea {
  float: left;
  margin-top: 15px;
  margin-left: 196px;
}

.e .eb {
  float: left;
  font-size: 15px;
  margin-top: 16px;
  margin-left: 11px;
}

.e .ec {
  width: 382px;
  height: 24px;
  border: 1px solid #ffcc66;
  background-color: #fffff0;
  float: left;
  margin-left: -84px;
  margin-top: 46px;
}

.e .ec .eca {
  float: left;
  font-size: 12px;
  margin-top: 4px;
  margin-left: 5px;
}

.e .ed {
  float: left;
  font-size: 12px;
  margin-top: 54px;
  margin-left: 493px;
  color: #0088cc;
}

.e .ee {
  width: 960px;
  height: 2px;
  background-color: #d9d9d9;
  float: left;
  margin-left: 195px;
  margin-top: 10px;
}

.e .ef {
  float: left;
  margin-top: 14px;
  margin-left: 211px;
}

.e .eg {
  float: left;
  margin-top: 12px;
  margin-left: 7px;
  font-size: 12px;
}

.e .eh {
  float: left;
  margin-top: 12px;
  margin-left: 83px;
  font-size: 12px;
}

.e .ei {
  float: left;
  margin-top: 12px;
  margin-left: 231px;
  font-size: 12px;
}

.e .ej {
  width: 85px;
  height: 20px;
  border: 1px solid #eeeeee;
  float: left;
  margin-top: 11px;
  margin-left: 53px;
}

.e .ej .eja {
  float: left;
  margin-top: 2px;
  margin-left: 7px;
  color: #0088cc;
  font-size: 12px;
}

.e .ej .ejb {
  float: left;
  margin-top: 9px;
  margin-left: 15px;
}

.e .ek {
  float: left;
  margin-top: 12px;
  margin-left: 58px;
  font-size: 12px;
}

.e .el {
  float: left;
  margin-top: 12px;
  margin-left: 112px;
  font-size: 12px;
}

.e .em {
  float: left;
  margin-top: 12px;
  margin-left: 78px;
  font-size: 12px;
}

.f {
  width: 1349px;
  height: 361px;
  margin: 0 auto;
}

.f .fa {
  width: 960px;
  height: 116px;
  border: 1px solid #d9d9d9;
  float: left;
  margin-top: 0px;
  margin-left: 195px;
}

.f .fa .faa {
  width: 960px;
  height: 33px;
  background-color: #f6f6f6;
  float: left;
  margin-top: 0px;
  margin-left: 0px;
}

.f .fa .fab {
  width: 960px;
  height: 83px;
  background-color: #fffcf1;
  float: left;
  margin-top: 0px;
  margin-left: 0px;
}

.f .fb {
  float: left;
  width: 960px;
  border: 1px dashed #dddddd;
  margin-top: -84px;
  margin-left: 0px;
}

.f .fa .faa .faaa {
  float: left;
  margin-top: 11px;
  margin-left: 15px;
}

.f .fa .faa .faab {
  float: left;
  font-size: 13px;
  margin-top: 9px;
  margin-left: 15px;
}

.f .fa .faa .faac {
  float: left;
  margin-top: 9px;
  margin-left: 22px;
}

.f .fa .faa .faad {
  float: left;
  margin-top: 9px;
  margin-left: 8px;
  font-size: 12px;
  color: #0088cc;
}

.f .fa .fab .faba {
  float: left;
  margin-top: 37px;
  margin-left: 40px;
}

.f .fa .fab .fabb {
  float: left;
  margin-top: 10px;
  margin-left: 12px;
}

.f .fa .fab .fabc {
  float: left;
  margin-top: 26px;
  margin-left: 17px;
  font-size: 12px;
}

.f .fa .fab .fabd {
  float: left;
  margin-top: 44px;
  margin-left: -168px;
  font-size: 12px;
}

.f .fa .fab .fabe {
  float: left;
  font-size: 12px;
  margin-top: 35px;
  margin-left: 84px;
}

.f .fa .fab .fabf {
  float: left;
  font-size: 12px;
  margin-top: 35px;
  margin-left: 66px;
}

.f .fa .fab .fabg {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  margin-top: 30px;
  margin-left: 77px;
  background-color: #ffffff;
}

.f .fa .fab .fabg .fabga {
  color: #a9a0b2;
  float: left;
  margin-left: 5px;
  font-size: 18px;
  margin-top: -3px;
}

.f .fa .fab .fabh {
  float: left;
  width: 32px;
  height: 20px;
  border: 1px solid #cccccc;
  margin-top: 30px;
  margin-left: 2px;
  background-color: #ffffff;
}

.f .fa .fab .fabh .fabha {
  font-size: 12px;
  float: left;
  margin-top: 2px;
  margin-left: 11px;
}

.f .fa .fab .fabi {
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  float: left;
  margin-left: 2px;
  margin-top: 30px;
  background-color: #ffffff;
}

.f .fa .fab .fabi .fabia {
  font-size: 13px;
  float: left;
  margin-top: 1px;
  margin-left: 5px;
  color: #838383;
}

.f .fa .fab .fabj {
  font-size: 12px;
  color: #dd0000;
  float: left;
  margin-top: 32px;
  margin-left: 80px;
}

.f .fa .fab .fabk {
  font-size: 12px;
  color: #666666;
  float: left;
  margin-top: 32px;
  margin-left: 55px;
}

.f .fa .fab .fabl {
  font-size: 12px;
  color: #666666;
  float: left;
  margin-top: 32px;
  margin-left: 12px;
}

.f .fc {
  width: 1349px;
  height: 63px;
  float: left;
  margin-top: 0px;
}

.f .fc .fca {
  font-size: 12px;
  float: left;
  margin-left: 813px;
  margin-top: 26px;
  color: #333333;
}

.f .fc .fcb {
  font-size: 12px;
  float: left;
  margin-left: 14px;
  margin-top: 26px;
  color: #dd0000;
}

.f .fc .fcc {
  font-size: 12px;
  float: left;
  margin-left: 22px;
  margin-top: 26px;
  color: #333333;
}

.f .fc .fcd {
  font-size: 12px;
  float: left;
  margin-top: 26px;
  margin-left: 17px;
  color: #333333;
}

.f .fc .fce {
  font-size: 12px;
  float: left;
  margin-top: 26px;
  margin-left: 14px;
  color: #dd0000;
}

.g {
  width: 1349px;
  height: 181px;
  margin: 0 auto;
  margin-top: -180px;
}

.g .ga {
  width: 960px;
  height: 116px;
  border: 1px solid #d9d9d9;
  float: left;
  margin-top: 0px;
  margin-left: 195px;
}

.g .ga .gaa {
  width: 960px;
  height: 33px;
  background-color: #f6f6f6;
  float: left;
  margin-top: 0px;
  margin-left: 0px;
}

.g .ga .gab {
  width: 960px;
  height: 83px;
  background-color: #fffcf1;
  float: left;
  margin-top: 0px;
  margin-left: 0px;
}

.g .gb {
  float: left;
  width: 960px;
  border: 1px dashed #dddddd;
  margin-top: -84px;
  margin-left: 0px;
}

.g .ga .gaa .gaaa {
  float: left;
  margin-top: 11px;
  margin-left: 15px;
}

.g .ga .gaa .gaab {
  float: left;
  font-size: 13px;
  margin-top: 9px;
  margin-left: 15px;
}

.g .ga .gaa .gaac {
  float: left;
  margin-top: 9px;
  margin-left: 22px;
}

.g .ga .gaa .gaad {
  float: left;
  margin-top: 9px;
  margin-left: 8px;
  font-size: 12px;
  color: #0088cc;
}

.g .ga .gab .gaba {
  float: left;
  margin-top: 37px;
  margin-left: 40px;
}

.g .ga .gab .gabb {
  float: left;
  margin-top: 10px;
  margin-left: 12px;
}

.g .ga .gab .gabc {
  float: left;
  margin-top: 26px;
  margin-left: 17px;
  font-size: 12px;
}

.g .ga .gab .gabd {
  float: left;
  margin-top: 44px;
  margin-left: -185px;
  font-size: 12px;
}

.g .ga .gab .gabe {
  float: left;
  font-size: 12px;
  margin-top: 27px;
  margin-left: 69px;
}

.g .ga .gab .shiji {
  float: left;
  font-size: 12px;
  margin-left: -50px;
  margin-top: 41px;
}

.g .ga .gab .gabf {
  float: left;
  font-size: 12px;
  margin-top: 35px;
  margin-left: 66px;
}

.g .ga .gab .gabg {
  float: left;
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  margin-top: 30px;
  margin-left: 77px;
  background-color: #ffffff;
}

.g .ga .gab .gabg .gabga {
  color: #a9a0b2;
  float: left;
  margin-left: 5px;
  font-size: 18px;
  margin-top: -3px;
}

.g .ga .gab .gabh {
  float: left;
  width: 32px;
  height: 20px;
  border: 1px solid #cccccc;
  margin-top: 30px;
  margin-left: 2px;
  background-color: #ffffff;
}

.g .ga .gab .gabh .gabha {
  font-size: 12px;
  float: left;
  margin-top: 2px;
  margin-left: 11px;
}

.g .ga .gab .gabi {
  width: 20px;
  height: 20px;
  border: 1px solid #cccccc;
  float: left;
  margin-left: 2px;
  margin-top: 30px;
  background-color: #ffffff;
}

.g .ga .gab .gabi .gabia {
  font-size: 13px;
  float: left;
  margin-top: 1px;
  margin-left: 5px;
  color: #838383;
}

.g .ga .gab .gabj {
  font-size: 12px;
  color: #dd0000;
  float: left;
  margin-top: 32px;
  margin-left: 80px;
}

.g .ga .gab .gabk {
  font-size: 12px;
  color: #666666;
  float: left;
  margin-top: 32px;
  margin-left: 55px;
}

.g .ga .gab .gabl {
  font-size: 12px;
  color: #666666;
  float: left;
  margin-top: 32px;
  margin-left: 12px;
}

.g .gc {
  width: 1349px;
  height: 63px;
  float: left;
  margin-top: 0px;
}

.g .gc .gca {
  font-size: 12px;
  float: left;
  margin-left: 930px;
  margin-top: 26px;
  color: #333333;
}

.g .gc .gcb {
  font-size: 12px;
  float: left;
  margin-left: 14px;
  margin-top: 26px;
  color: #dd0000;
}

.g .gc .gcd {
  font-size: 12px;
  float: left;
  margin-top: 26px;
  margin-left: 12px;
  color: #333333;
}

.g .gc .gce {
  font-size: 12px;
  float: left;
  margin-top: 26px;
  margin-left: 14px;
  color: #dd0000;
}

.h {
  width: 960px;
  height: 72px;
  border: 1px solid #dedede;
  margin: 0 auto;
}

.h .ha {
  float: left;
  margin-top: 29px;
  margin-left: 16px;
}

.h .hb {
  font-size: 12px;
  float: left;
  margin-left: 11px;
  margin-top: 28px;
}

.h .hc {
  font-size: 12px;
  float: left;
  margin-left: 19px;
  margin-top: 28px;
  color: #0088cc;
}

.h .hd {
  font-size: 12px;
  float: left;
  margin-left: 19px;
  margin-top: 28px;
  color: #0088cc;
}

.h .he {
  font-size: 12px;
  float: left;
  color: #333333;
  margin-top: 17px;
  margin-left: 297px;
}

.h .hf {
  font-size: 12px;
  float: left;
  color: #dd0000;
  margin-top: 17px;
  margin-left: 8px;
}

.h .hg {
  font-size: 12px;
  float: left;
  color: #333333;
  margin-top: 17px;
  margin-left: 4px;
}

.h .hh {
  font-size: 12px;
  float: left;
  color: #333333;
  margin-top: 17px;
  margin-left: 18px;
}

.h .hi {
  font-size: 12px;
  float: left;
  color: #dd0000;
  margin-top: 17px;
  margin-left: 8px;
}

.h .hj {
  font-size: 12px;
  float: left;
  color: #ff7700;
  margin-top: 7px;
  margin-left: 424px;
}

.h .hk {
  font-size: 12px;
  float: left;
  color: #333333;
  margin-top: 7px;
  margin-left: 7px;
}

.h .hl {
  font-size: 12px;
  float: left;
  color: #dd0000;
  margin-top: 7px;
  margin-left: 16px;
}

.h .hm {
  font-size: 14px;
  float: left;
  color: #dd0000;
  margin-top: 4px;
  margin-left: 8px;
}

.h .hn {
  float: left;
  margin-top: -16px;
  margin-left: 4px;
  width: 103px;
  height: 38px;
  border-radius: 6%;
  background-color: #fb8f00;
  border: 1px solid #e76900;
}

.h .hn .hna {
  color: #eeeeee;
  font-size: 20px;
  float: left;
  margin-top: 6px;
  margin-left: 19px;
}

.i {
  width: 958px;
  height: 29px;
  background-color: #f4f4f4;
  border: 1px solid #dedede;
  margin: 0 auto;
  margin-top: 10px;
}

.i .ia {
  font-size: 16px;
  color: #333333;
  float: left;
  margin-left: 7px;
  margin-top: 5px;
}

.i .ib {
  float: left;
  margin-top: 7px;
  margin-left: 795px;
}

.j {
  width: 958px;
  height: 287px;
  border: 1px solid #dedede;
  margin: 0 auto;
}

.j .ja {
  float: left;
  margin-top: 118px;
  margin-left: 9px;
}

.j .jb {
  float: left;
  margin-top: 19px;
  margin-left: 25px;
}

.j .jc {
  float: left;
  margin-top: 118px;
  margin-left: 30px;
}

.j .jd {
  float: left;
  margin-left: 51px;
  margin-top: 23px;
  font-size: 12px;
  color: #333333;
}

.j .je {
  float: left;
  margin-left: -129px;
  margin-top: 43px;
  font-size: 12px;
  color: #333333;
}

.j .jf {
  float: left;
  margin-left: -130px;
  margin-top: 71px;
  font-size: 13px;
  color: #dd0000;
}

.j .jg {
  width: 80px;
  height: 22px;
  border: 1px solid #dfdfdf;
  float: left;
  margin-top: 68px;
  margin-left: -69px;
}

.j .jg .jga {
  font-size: 12px;
  float: left;
  margin-top: 3px;
  margin-left: 10px;
  color: #333333;
}

.j .jh {
  float: left;
  font-size: 12px;
  margin-top: 23px;
  margin-left: 100px;
}

.j .ji {
  float: left;
  margin-left: -140px;
  margin-top: 71px;
  font-size: 13px;
  color: #dd0000;
}

.j .jj {
  width: 80px;
  height: 22px;
  border: 1px solid #dfdfdf;
  float: left;
  margin-top: 68px;
  margin-left: -76px;
}

.j .jj .jja {
  font-size: 12px;
  float: left;
  margin-top: 3px;
  margin-left: 10px;
  color: #333333;
}

.j .jk {
  float: left;
  margin-left: 81px;
  margin-top: 23px;
  font-size: 12px;
  color: #333333;
}

.j .jl {
  float: left;
  margin-left: -76px;
  margin-top: 43px;
  font-size: 12px;
  color: #333333;
}

.j .jm {
  float: left;
  margin-left: -187px;
  margin-top: 71px;
  font-size: 13px;
  color: #dd0000;
}

.j .jn {
  width: 80px;
  height: 22px;
  border: 1px solid #dfdfdf;
  float: left;
  margin-top: 68px;
  margin-left: -105px;
}

.j .jn .jna {
  font-size: 12px;
  float: left;
  margin-top: 3px;
  margin-left: 10px;
  color: #333333;
}

.j .jo {
  float: left;
  margin-left: 67px;
  margin-top: 23px;
  font-size: 12px;
  color: #333333;
}

.j .jp {
  float: left;
  margin-left: -157px;
  margin-top: 43px;
  font-size: 12px;
  color: #333333;
}

.j .jq {
  float: left;
  margin-left: -160px;
  margin-top: 71px;
  font-size: 13px;
  color: #dd0000;
}

.j .jr {
  width: 80px;
  height: 22px;
  border: 1px solid #dfdfdf;
  float: left;
  margin-top: 68px;
  margin-left: -97px;
}

.j .jr .jra {
  font-size: 12px;
  float: left;
  margin-top: 3px;
  margin-left: 10px;
  color: #333333;
}

.k {
  width: 1349px;
  height: 200px;
  margin: 0 auto;
}

.k .ka {
  float: left;
  font-size: 12px;
  margin-top: 69px;
  margin-left: 472px;
  color: #666666;
}

.k .kb {
  float: left;
  font-size: 12px;
  margin-top: 6px;
  margin-left: 326px;
  color: #666666;
}

.k .kc {
  float: left;
  font-size: 12px;
  margin-top: 6px;
  margin-left: 385px;
  color: #999999;
}

.k .kd {
  float: left;
  margin-top: 12px;
  margin-left: 482px;
}

.l {
  width: 42px;
  height: 42px;
  border: 1px solid #cecece;
  background-color: #f4f4f4;
  float: left;
  margin-top: -760px;
  margin-left: 1560px;
}

.l .la {
  color: #666666;
  float: left;
  margin-top: 2px;
  margin-left: 7px;
  font-size: 13px;
}

.l .lb {
  color: #666666;
  float: left;
  margin-top: 2px;
  margin-left: 7px;
  font-size: 13px;
}
